.header {
    display: flex;
    justify-content: center;
    min-height: 60px;
    background-color: lightseagreen;
}

.header_content {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header_content_title {
    color: rgb(210, 248, 248);
}

.currency {
    color: azure;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}