.label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;
}

.input {
    max-width: 150px;
    padding: 5px 20px;
    height: 27px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
}

.text {
    color: rgb(210, 248, 248);
}

